body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #e8c6f0;
    color: #333;
}

header {
    background: #a311d4;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header nav a {
    color: #a028dc;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

section {
    padding: 50px 20px;
    margin-top: 0;
    text-align: center;
}

#home {
    background: url('image/banerStar.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Alterado para empilhar os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    padding: 0 20px;
    position: relative;
}

.jumping-text {
    font-size: 20px;
    font-family: 'Bungee Spice', cursive;
    position: relative;
    color: transparent;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.5;
    max-width: 50%;
}

.jumping-text::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #FACCFF, #c1b9c8, #d1bfed, #c8b9df);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.jumping-img {
    animation: jump 1s infinite alternate;
    position: absolute;
    max-width: 20%;
    max-height: 50%;
    top: 300px;
    right: 150px;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
    }
}

#home .text {
    text-align: center;
    max-width: 600px;
    margin-top: 100px; /* Ajuste conforme necessário */
}

#home .image {
    text-align: center;
    max-width: 600px;
    margin-top: 20px; /* Ajuste conforme necessário */
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {          /* Ajuste seção tecnologias */
    background: #fff;
    color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    flex: 1;
}
.projetct2{             /* Ajusta seção contatos */
    background: #fff;
    color: #333;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(15, 5, 5, 0.2);
    max-width: 100%;
    flex: 1;
}
.imagem-perfil img {
    position: relative;
    width: 50%;
}
.project-contato{
    display: flex;
    flex-direction: column; /* Alterado para empilhar os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin-top: 10px;

}
.project-contato img{
    max-width: 90%;
    height: auto;
    margin-right: 10px;

}
.project-contato a {
    margin: 10px 0; /* Ajuste conforme necessário */
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.diferente {        /* Ajusta imagem do contato */
    width: 100%;
    height: 30%;
    display: none;
}


.project-info {
    text-align: left;
}

.image-slider {
    position: relative;
    width: 100%;
    overflow: visible;
    margin-bottom: 20px;
}

.image-slider img {
    width: 100%;
    display: none;
}

.image-slider .project-image {
    width: 100%; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
    display: block; /* Mostrar a primeira imagem ao carregar */
    transition: transform 0.3s ease;
}

.image-slider .project-image.enlarged {
    transform: scale(2.5); /* Ajuste o valor conforme necessário */
    z-index: 1;
    position: relative;
}

.image-slider img:first-child {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.tecnologia-usada {
    text-align: center;
    margin-top: 10px;
}

.tecnologia-usada h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project-logos img {
    max-width: 90%;
    height: auto;
    margin-right: 10px;
}

.diferente {
    max-width: 200px;
}

.project-logos {
    display: flex;
    flex-direction: column; /* Alterado para empilhar os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos verticalmente */
    align-items: center; /* Centraliza os elementos horizontalmente */
    margin-top: 10px;
}




.project-logos a:hover {
    color: #555;
}

@media (max-width: 768px) {
    #home {
        padding: 0 10px;
    }
    .jumping-text {
        font-size: 24px;
        top: 40%;
        left: 50%;
        max-width: 80%;
    }
    .jumping-img {
        position: static;
        max-width: 50%;
        margin-top: 20px;
    }
    .project {
        max-width: 90%;
        margin: 10px auto;
    }
}

@media (max-width: 480px) {
    .jumping-text {
        font-size: 18px;
    }
    #home .text {
        margin-top: 50px; /* Ajuste conforme necessário */
    }
    .jumping-img {
        max-width: 70%;
    }
}
